:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

body {
  background-color: rgba(236, 236, 236, 1);

  color: var(--primary-text-color);
}

.partlogo {
  color: var(--accent-color);
}

.partslogo {
  color: var(--title-color);
}

.list {
  list-style: none;
}

/*site-nav*/

.site-nav .link {
  color: var(--title-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.adress .link:hover,
.adress .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .adress .link {
  color: var(--primary-text-color);
}

/*foother section */

.adress-footer {
  color: var(--primary-bg-color);
}
