/*hero section */

.hero-title {
  color: var(--primary-bg-color);
}

.hero-link {
  color: var(--primary-bg-color);
}

/*main section */
.section-title {
  color: var(--title-color);
}

.title {
  color: var(--title-color);
}

/*button */
.button {
  color: var(--title-color);
  background-color: var(--primary-bg-color);
}

.button.primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--title-color);
  background-color: rgba(245, 244, 250, 1);
}

/* цвет основной текста  #212121*/
/* цвет вторичный текста #757575* 
/* белый*color: #FFFFFF */
/*rgba(236, 236, 236, 1)*/
/*rgba(245, 244, 250, 1)*/
/*rgba(47, 48, 58, 1)*/
/* цвет акцент color: #2196F3*/
